*.swo
*.swp
*.swn
http
client
server
*.o
bin/client
bin/server
httpserver*
CMakeCache.txt
cmake_install.cmake
Makefile
requests.log
Testing/
build/
CMakeFiles/
CTestTestfile.cmake
CMakeLists.txt.user
